<header class="main-header">
  <nav class="nav-container">
    <div class="logo">
      <a href="/">Reserva de Salas</a>
    </div>
    <ul class="nav-links">
      <li><a href="/">Início</a></li>
      <li><a href="/documentacao">Documentação</a></li>
      <li><a href="/test">Status</a></li>
    </ul>
  </nav>
</header>
